<style>
#map {
  width: 550px; 
  height: 370px; 
  border-radius: 10px;
  position: center;
}

.marker {
  background-image: url(<%= asset_path 'marker-patoune.png' %>);
  background-size: cover;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 150px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
</style>

<br>
<div class="container-fluid text-center">
  <div class="row">
    <div class="col">
      <div class="p-4 mb-4 bg-light rounded-3">
        <h3 class="text-primary">Qui sommes-nous ?</h3><br>
        <p>L'association Cozy & Fluffy a été fondée en Janvier 2023, elle est composée et gérée par Lisa (présidente), Karine (vice-présidente), Chandara (trésorière) et Suzanne (secrétaire).<br><br> 
          Mais Cozy & Fluffy est désormais plus qu'une association à but non lucratif, c'est aussi un salon de thé qui sert également de refuge aux chats abandonnés. Les fonds récoltés au salon servent à faire fonctionner le café et l'association.<br><br> 
          Nous proposons également des évènements et activités tout au long de l'année.<br><br>
          Vous souhaitez apporter votre soutient à l'association ? Nous accueillons les bénévoles au salon ou sur les activités de l'association. Vous pouvez également nous soutenir financièrement !<br><br>
        </p>
        <div class="d-flex flex-wrap justify-content-evenly">
          <a class="btn btn-primary" type="button" 
            href="mailto:cozyhoshii@gmail.com?subject=Devenir Bénévole&body=Bonjour, je m'appelle ... et j'aimerais intégrer votre association Cozy and Fluffy. Petite présentation personnelle et numéro de téléphone. Nous vous recontacterons le plus vite possible pour votre candidature.">
            Devenir bénévole</a>
          <form action="/checkout/donation" method="post">
            <button type="submit" class="btn btn-info"></i>Faire un don</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="p-4 mb-4 bg-light rounded-3">
        <h3 class="text-primary">Où nous trouver ?</h3>
          <div id="map"></div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="p-4 mb-4 bg-light rounded-3">
    <h3 class="text-primary">Les prochains évènements :</h3><br>
      <div class="list-group">
        <% @events.each do |event| %>
          <a href="/association/<%= event.id %>/" class="list-group-item list-group-item-action" style="color:#888">
            <h5><%= event.title %></h5>
            <%= event.description %><br>
            <i class="fa-solid fa-calendar-days"></i> <%= event.date.strftime('%d/%m/%Y') %>
          </a>
        <% end %>
      </div>
      <br>
      <% if current_user&.is_admin? %>
        <div class="d-flex gap-2">
          <a class="btn btn-info" href="/association/new" role="button">Ajouter un évènement</a>
        </div>
      <% end %>
  </div>
</div>
