
<br>
<div class="container rounded-top text-primary justify-content-center bg-light">

  <div class="row row-cols-1 text-center p-1">
    <div class="col-sm-1 text-start g-0 ">
      <a class="btn btn-sm" href="/" role="button" style="color: #ebb181;"><i class="fa-solid fa-arrow-left"></i></a>
    </div>
    <div class="col-sm-11 text-center">
      <h3>MENU</h3>
    </div>
  </div>
</div>
<div class="container rounded-bottom bg-dark py-4 px-7 align-items-center">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
    <% @categories.each do |category| %>
      <div class="col">
        <div class="card border-primary mb-3 border border-3" style="max-width: 18rem;">
          <div class="card-header rounded rounded-0 bg-primary text-center" style="max-width: 18rem; color: #ebb181;">
            <h5><strong><%= category.name %></strong></h5>
            <div class="d-flex justify-content-center">
              <% if current_user&.is_admin? %>
                <a class="btn btn-info btn-sm" href="/categories/<%= category.id %>/edit" role="button"><i class="fa-solid fa-pen"></i></a>
                <%= form_for category, method: :delete do |f| %>
                  <%= f.button nil, class: "btn btn-danger btn-sm" do %>
                    <i class="fa-solid fa-trash"></i>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
          <% @products.each do |product| %>
            <% if product.category.id === category.id %>
              <%if product.id.even?%>
                <div class="card-body bg-light rounded">
                  <div class="row">
                    <div class="col">
                      <div class="card-text"><%= product.name%></div>
                      <% if current_user&.is_admin? %>
                        <a class="btn btn-info btn-sm" href="/products/<%= product.id %>/edit" role="button"><i class="fa-solid fa-pen"></i></a>
                      <% end %>
                    </div>
                    <div class="col">
                      <div class="card-text text-end"><%= product.price%> €
                        <% if current_user&.is_admin? %>
                          <%= form_for product, method: :delete do |f| %>
                            <%= f.button nil, class: "btn btn-danger btn-sm" do %>
                                <i class="fa-solid fa-trash"></i>
                            <% end %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <div class="card-text text-start"><%= product.name%></div>
                        <% if current_user&.is_admin? %>
                          <a class="btn btn-info btn-sm" href="/products/<%= product.id %>/edit" role="button"> <i class="fa-solid fa-pen"></i> </a>
                        <% end %>
                    </div>
                    <div class="col">
                      <div class="card-text text-end"><%= product.price%> €
                        <% if current_user&.is_admin? %>
                          <%= form_for product, method: :delete do |f| %>
                            <%= f.button nil, class: "btn btn-danger btn-sm" do %>
                                <i class="fa-solid fa-trash"></i>
                            <% end %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <% if current_user&.is_admin? %>
    <div class="d-flex gap-2 justify-content-center">
      <%= button_to "Ajouter un produit", new_product_path, class:"btn", style:"background-color: #a76551;" %>
    </div>
  <% end %>
</div>
<br>