<h1>Menu#new</h1>
<div class="container">


  <div class="my-form">
    <%= form_with model: @product, url: menu_index_path do |f| %>
    <h2>Ajoute un élément au menu</h2>
    <%= f.hidden_field :category_id, value: "1" %>

    <div class= "text-primary"><%=flash[:error] if flash[:error].present?%>
    <br>
    <% if @product.errors.any? %>
      <%= @product.errors.full_messages%>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "nom", class:"form-control"  %>
    </div>

    <div class="field">
      <%= f.label :price %><br />
      <%= f.number_field :price, autocomplete: "prix", class:"form-control"  %>
    </div>

    <div class="actions">
      <%= f.submit "Confirmer", class:"btn btn-primary"  %>
    </div>
    <% end %>
  </div>
</div>