<br>
<div class="container rounded text-primary justify-content-center bg-light">
  <div class="row row-cols-1 text-center p-1">
    <div class="col-sm-1 text-start g-0 ">
      <a class="btn", style="background-color: #DC985F;"  href="/" role="button"><i class="fa-solid fa-arrow-left"></i></a>
    </div>
    <div class="col-sm-11 text-center">
      <h3>Dashboard Admin</h3>
    </div>
  </div>
</div>
<br>
<div class="container rounded">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card border-primary">
        <h5 class="card-header text-primary text-center bg-dark" ><i class="fa-solid fa-user"></i>  Utilisateurs</h5>
        <div class="card-body">
          <p class="card-text text-center">
            <%= link_to "Voir les utilisateurs", admin_users_path, class:"btn", style:"background-color: #DC985F;" %>
            <br>
            <div class="d-flex gap-2 justify-content-center">
              <%= link_to "Ajouter un utilisateur", new_admin_path, class:"btn", style:"background-color: #a76551;" %>
            </div>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary">
        <h5 class="card-header text-primary text-center bg-dark"><i class="fa fa-paw fa-lg"></i>  Chats</h5>
        <div class="card-body">
          <p class="card-text text-center">
            <%= link_to "Voir les chats", cats_path, class:"btn", style:"background-color: #DC985F;" %>
            <br>
            <div class="d-flex gap-2 justify-content-center">
              <%= link_to "Ajouter un chat", new_cat_path, class:"btn", style:"background-color: #a76551;" %>
            </div>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary">
        <h5 class="card-header text-primary text-center bg-dark"><i class="fa-solid fa-mug-hot"></i>  Produits</h5>
        <div class="card-body">
          <p class="card-text text-center">
            <%= link_to "Voir le menu", menu_index_path, class:"btn", style:"background-color: #DC985F;" %>
            <br>
            <div class="d-flex gap-2 justify-content-center">
              <%= link_to "Ajouter un produit", new_product_path, class:"btn", style:"background-color: #a76551;" %>
              <%= link_to "Ajouter une catégorie", new_category_path, class:"btn", style:"background-color: #a76551;" %>
            </div>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary">
        <h5 class="card-header text-primary text-center bg-dark"><i class="fa-solid fa-calendar-days"></i>  Evénements</h5>
        <div class="card-body">
          <p class="card-text text-center">
            <%= link_to "Voir la page association", association_index_path, class:"btn", style:"background-color: #DC985F;" %>
            <br>
            <div class="d-flex gap-2 justify-content-center">
              <%= link_to "Ajouter un évènement", new_association_path, class:"btn", style:"background-color: #a76551;" %>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <%= link_to "Modifier le mot de passe", edit_user_password_path %>
</div>
<br>