<header>
  <%= render 'jumbotron' %>
</header>

<br>
<body>
  <div class="container-fluid">
    <div class="home-container">
      <div class="home-content">
        <%= render 'cats'%>
        <br>
        <%= render 'salon'%>
        <br>
      </div>
      <div class="home-features">
        <h3 class="rounded text-center" style="background-color:#ebb181; color:#ffffff;">Évènements</h3>
        <%= render 'month_calendar'%>
        <br>
        <%= render 'infos'%>
        <%= render 'map'%>
      </div>
    </div>
  </div>
</body>