<%=flash[:error] if flash[:error].present?%>

<div class="my-form">
    <%= form_with(model: @cat, url: cat_path) do |f| %>
    <h2>Mise a jour du profil du Minou</h2>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "nom", class:"form-control"  %>
    </div>

    <div class="field">
      <%= f.label :birth_date %><br/>
      <%= f.date_field :birth_date, autocomplete: "date", class:"form-control"  %>
    </div>

    <div class="field">
     <%= f.label :description %><br />
    <%= f.text_field :description, autocomplete: "description", class:"form-control"  %>
    </div>

    <div class="field">
    <p>
      <%= f.label :adoption %>
      <%= f.check_box :adoption %>
		 </p>
    </div>

    <%= form_for @cat, method: :patch do |f| %>
       <%= f.submit 'Actualiser', class:"btn btn-primary"%>
    <% end %>

  <% end %>
</div>