<style>
.cats-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}

.cats-residents {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.cats-visitors {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

</style>

<br>
<h3 class="bg-light text-color-brown text-center">NOS CHATS</h3>
<div class="cats-container">
  <div id="cats-residents">
    <h3 class="cats-title-home">Nos chats résidents</h3>
      <% @catsresidents.each do |cat| %>
        <div class="cat-box">
          <div class="card">
            <div class="card-body text-center">
              <h5 id="card-title"><strong><%= cat.name%></strong></h5>
               <div id="cat-picture" style="width: 450px">
                <img class="img-thumbnail"src="<%= cat.image_url %>"/>
              </div>
              <p class="card-text">
                <%= cat.description %>
                <br>
              </p>
              <div id="card-btn">
                <%= link_to "Voir notre minou", cat, class:"btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
  <div id="cats-visitors">
    <h3 class="cats-title-home">Nos chats à l'adoption</h3>
    <div class="d-flex">
      <% @catsadoptables.each do |cat| %>
        <div class="cat-box">
          <div class="card" style="height: 150px; width: 590px">
            <div class="card-body text-center">
              <h5 id="card-title"><strong><%= cat.name%></strong></h5>
              <p class="card-text">
                <%= cat.description %>
                <br>
              </p>
              <div id="card-btn">
                <%= link_to "Voir notre minou", cat, class:"btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>