<br>
<div class="cats-container block justify-content-center">
  <div class="cats-residents">
    <h3 class=" rounded text-primary justify-content-center bg-light text-center">Nos chats résidents</h3>
      <div class="row text-center">  
        <% @catsresidents.each do |cat| %>
          <div id="cats ">
            <div class="card table-column float-right">
              <div class="card-body">
                <h5 class="card-title"><strong><%= cat.name%></strong></h5>
                  
                    <p class="cat-picture table-column" style="max-width:350px; max-height:325px; ">
                      <img class="img-thumbnail" style="background:#a57154;"  src="<%= cat.image_url %>">
                    </p>
                
                <p class="card-text">
                  <br>
                    <strong>Description :</strong>
                    <%= cat.description %>
                  <br>
                </p>
                <div class="container-row">
                  <%= link_to "Voir notre minou", cat, class:"btn btn-primary" %>
                </div>
              </div>
              </div>
            </div>
        <% end %>
      </div>
  </div>
  <div class="cats-visitors">
    <h3 class=" rounded text-primary justify-content-center bg-light text-center">Nos chats à l'adoption</h3>
      <div class="row">
        <% @catsadoptables.each do |cat| %>
          <div id="cats">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><strong><%= cat.name%></strong></h5>
                  <p class="cat-picture" style="max-width:350px; max-height:325px;">
                    <img class="img-thumbnail" style="background:#a57154" src="<%= cat.image_url %>"/>
                  </p>
                
                <p class="card-text">
                  <br>
                    <strong>Description :</strong>
                    <%= cat.description %>
                  <br>
                </p>
                <div class="container-row">
                  <%= link_to "Voir notre minou", cat, class:"btn btn-primary" %>
                </div>
              </div>
              </div>
            </div>
          </div>
        <% end %>
        
      </div>
</div>