<style>
.cats-container {
  display: grid;
  grid-template-columns: auto auto;
}


</style>

<br>
<div class="container">
   
    <div class="row row-cols-1 text-center p-1">
        <div class="col-sm-1 text-start g-0 ">
          <a class="btn btn-sm" href="/" role="button" style="color: #ebb181;"><i class="fa-solid fa-arrow-left"></i></a>
        </div>
        <div class="col-sm-11 text-center"> 
            <h3 class="bg-light text-color-brown text-center">NOS CHATS</h3>
        </div>
      </div>
    </div>
      

  <div class=" cats-container rounded-bottom bg-dark py-7 px-7 align-items-center text-center">

    <div class="row cats-residents justify-content-center">

      <div class="row col-3 justify-content-end">
          <% @catsresidents.each do |cat| %>
        <div class=" card text-center" style="max-width:750px; max-height:750px">
          <div class="card-body bg-light rounded " style="max-width:750px;">
            <div class="card-header rounded rounded-0 bg-primary text-center" style="color: #ebb181;"><h5><strong><%= cat.name %></strong></h5></div>
              <div class="cat-box">
                <div class="card">
                  <div class="card-body text-center" style="max-height:475px">
                      <img class="img-thumbnail" style="max-width:450px;" src="<%= cat.image_url %>"/>
                    <h5 id="card-title"><strong><%= cat.name%></strong></h5>
                    <p class="card-text">
                      <%= cat.description %>
                      <br>
                    </p>
                    <div id="card-btn">
                      <%= link_to "Voir notre minou", cat, class:"btn btn-primary" %>
                    </div>
                  </div>
                </div>
              </div>
             </div>
        </div>    
            <% end %>
      </div>      

      <div class="row col-6">
          <% @catsadoptables.each do |cat| %>
          <div class="card text-center" style="max-width:750px; max-height:750px">
          <div class="card-body bg-light rounded" style="max-width:750px;">

            <div class="card-header rounded rounded-0 bg-primary text-center" style="color: #ebb181;"><h5><strong><%= cat.name %></strong></h5></div>

            <div class="cat-box">
              <div class="card">
                <div class="card-body text-center" style="max-height:475px;">
                    <img class="img-thumbnail" style="max-width:450px" src="<%= cat.image_url %>"/>
                  <h5 id="card-title"><strong><%= cat.name%></strong></h5>
                      <p class="card-text">
                        <%= cat.description %>
                        <br>
                      </p>
                      <div id="card-btn">
                        <%= link_to "Voir notre minou", cat, class:"btn btn-primary" %>
                      </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        <% end %>
      </div>
              

      

</div>
<br>