<style>
@media (min-width: 768px) {
  .cats-container {
    grid-template-columns: auto auto;
  }
}

.cats-container {
  justify-content: center;
  align-items: center;
}

.card {
  height: 100%;
  max-height: 750px;
  align-items: center;
}

.card-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>

<br>
<div class="container-fluid">
  <div class="cats-container rounded text-center">
    <div class="row" style="color: #ebb181;">
      <div class="col-lg-4">
        <div class="row" style="padding-left:12px; padding-right:12px;">
          <h3 class="rounded text-color-brown text-center" style="background-color:#ebb181; color:#ffffff;">Nos minous résidents</h3>
          <% @catsresidents.each do |cat| %>
            <div class="card mb-4 h-100" style="padding:12px;">
              <h5><strong><%= cat.name %></strong></h5>
              <img class="img-fluid img-thumbnail" style="max-height:300px" src="<%= cat.image_url %>"/>
              <div class="card-body rounded">
                <div class="flex-grow-1" style="height:50px">
                  <%= cat.description %>
                </div>
                <div class="text-center">
                  <br>
                  <%= link_to "Voir notre minou", cat, class:"btn btn-small", style:"background-color: #a76551;"%>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-lg-8">
        <h3 class="rounded text-color-brown text-center" style="background-color:#ebb181; color:#ffffff;">Nos minous adoptables</h3>
        <div class="row">
          <% @catsadoptables.each do |cat| %>
            <div class="col-md-6 col-sm-6 mb-4">
              <div class="card h-100" style="padding:12px">
                <h5><strong><%= cat.name %></strong></h5>
                <img class="img-fluid img-thumbnail" style="max-height:300px" src="<%= cat.image_url %>"/>  
                <div class="card-body rounded" >
                  <div class="flex-grow-1" style="height:50px">
                    <%= cat.description %>
                  </div>
                  <div class="text-center">
                    <br>
                    <%= link_to "Voir notre minou", cat, class:"btn btn-small", style:"background-color: #a76551;"%>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
