

<br>
<div class="container">
   
    <div class="row row-cols-1 text-center p-1">
        <div class="col-sm-1 text-start g-0 ">
          <a class="btn btn-sm" href="/" role="button" style="color: #ebb181;"><i class="fa-solid fa-arrow-left"></i></a>
        </div>
        <div class="col-sm-11 text-center"> 
            <h3 class="bg-light text-color-brown text-center">NOS CHATS</h3>
        </div>
      </div>
    </div>
      

  <div class="container rounded-bottom bg-dark py-7 px-7 align-items-center">
    <div class="row row-cols-2">
      <div class="col">
       <div class="card border-primary border border-3">
          <div class="card-body bg-light rounded">
          <% @catsresidents.each do |cat| %>
            <div class="card-header rounded rounded-0 bg-primary text-center" style="color: #ebb181;"><h5><strong><%= cat.name %></strong></h5></div>

            <div class="cat-box">
              <div class="card">
                <div class="card-body text-center">
                    <div id="cat-picture" style="width: 500px">
                    <img class="img-thumbnail"src="<%= cat.image_url %>"/>
                  </div>
                  <h5 id="card-title"><strong><%= cat.name%></strong></h5>
                  <p class="card-text">
                    <%= cat.description %>
                    <br>
                  </p>
                  <div id="card-btn">
                    <%= link_to "Voir notre minou", cat, class:"btn btn-primary" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>


        </div>
      </div>    
    </div>      
  </div>
</div>
<br>