<div class="my-form">
  <%= form_with(model: @cat, url: cats_path) do |f| %>
    <h2 class="text-center">Ajout d'un chat</h2>
    <div class="field">
      <%= f.label :nom %><br/>
      <%= f.text_field :name, autofocus: true, autocomplete: "nom", class:"form-control" %>
    </div>
    <br>
    <div class="field">
      <%= f.label :date_de_naissance %><br/>
      <%= f.date_field :birth_date, autocomplete: "birth_date", class:"form-control" %>
    </div>
    <br>
    <div class="field">
      <%= f.label :description %><br/>
      <%= f.text_field :description, autocomplete: "description", class:"form-control" %>
    </div>
    <br>
    <div class="field">
      <%= f.label :lien_image %><br/>
      <%= f.text_field :image_url, autocomplete: "image_url", class:"form-control" %>
    </div>
    <br>
    <div class="field">
    <p>
      <%= f.label :disponible_adoption? %>
      <%= f.check_box :adoption %>
		 </p>
    </div>
    <div class="actions text-center">
      <%= f.submit "Confirmer", class:"btn btn-primary" %>
    </div>
  <% end %>
</div>
