<div class="container">
<div class="my-form">
    <%= form_with(model: @cat, url: cats_path) do |f| %>
    <h2>Ajout d'utilisateur</h2>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "nom", class:"form-control"  %>
    </div>

    <div class="field">
      <%= f.label :birth_date %><br/>
      <%= f.date_field :birth_date, autocomplete: "date", class:"form-control"  %>
    </div>

    <div class="field">
     <%= f.label :description %><br />
    <%= f.text_field :description, autocomplete: "description", class:"form-control"  %>
    </div>

    <div class="field">
    <p>
      <%= f.label :adoption %>
      <%= f.check_box :adoption %>
		 </p>
    </div>

    <div class="actions">
      <%= f.submit "Confirmer", class:"btn btn-primary"  %>
    </div>
  <% end %>
</div>
</div>
