<div class="container-fluid">
  <div class="row">
    <div class="my-form col" style="float: right">
      <a class="btn btn-sm", style="background-color: #DC985F;"  href="/cats/" role="button"><i class="fa-solid fa-arrow-left"></i></a>
      <h3 class="card-title text-center"><strong><%= @cat.name %></strong></h3>
      <div class="text-center">
        <br>
        <img class="border border-5 border-primary rounded" style="max-width:65%;"
          src="<%= @cat.image_url %>">
      </div>
      <p class="card-text">
        <br>
        <strong>Date de naissance : </strong>
        <%= @cat.birth_date.strftime('%d/%m/%Y') %><br>
        <strong>Description :</strong>
        <%= @cat.description %><br>
        <strong>Disponible à l'adoption :</strong>
        <% if @cat.adoption == false %>
          <a>Non</a><br>
        <% else %>
          <a>Oui</a>
        <% end %>
      </p>
      <div class="row">
        <% if current_user&.is_admin? %>
          <div class="col">
            <a class="btn btn-info btn-sm" href="/cats/<%= params[:id] %>/edit" role="button"> <i class="fa-solid fa-pen"></i></a>
          </div>
          <div class="col text-end">
            <%= form_for @cat, method: :delete do |f| %>
              <%= f.button nil, class: "btn btn-danger btn-sm" do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <% if @cat.adoption? %>
            <div class="col">
              Tu souhaiterais adopter ce minou ? Rempli ce formulaire d'intérêt : 
              <%= link_to raw("<i class=\"fa-solid fa-file\"></i>"), new_cat_adoption_path(@cat), class:"btn btn-primary" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>