<div class="row">

  <div class="cat-img col">
    <img
      class="w-100"
      src="<%= @cat.image_url %>"
    />
  </div>

  <div class="my-form col" style="float: right">
    <h5 class="card-title"><strong><%= @cat.name%></strong></h5>
      <p class="card-text">
        <br>
        <strong>Nom :</strong>
        <%= @cat.name %><br>
        <strong>Date de naissance : </strong>
        <%= @cat.birth_date.strftime('%d/%m/%Y') %><br>
        <strong>Description :</strong>
        <%= @cat.description %><br>
        <strong>Adoption :</strong>
        <% if @cat.adoption == false %>
          <a>Non</a><br>
        <% else %>
          <a>Oui</a>
        <% end %>
      </p>

      <% if current_user%>
      <div class="container-row">
        <%= link_to "Mettre à jour", edit_cat_path, class:"btn btn-primary" %>
      </div>
      <%end%>
  </div>
   
</div>