<div class="my-form">
  <h5 class="card-title"><strong><%= @cat.name%></strong></h5>
    <p class="card-text">
      <br>
      <strong>Nom :</strong>
      <%= @cat.name %><br>
      <strong>Date de naissance :</strong>
      <%= @cat.birth_date %><br>
      <strong>Description :</strong>
      <%= @cat.description %><br>
      <strong>Adoption :</strong>
      <em><a>(si false non adoptable)</a></em><br>
      <%= @cat.adoption %><br>
    </p>
    <div class="container-row">
      <%= link_to "Mettre à jour", edit_cat_path, class:"btn btn-primary" %>
    </div>
</div>
   