
<div class="row">
<div class="container">
<div class="my-form">
        <h5 class="card-title"><strong><%= @cat.name%></strong></h5>
            <p class="card-text">
            <br>
                <strong>Nom :</strong>
                <%= @cat.name %><br>


                <strong>Date de naissance : </strong>
                <%= @cat.birth_date.strftime('%d/%m/%Y') %><br>
                <strong>Description :</strong>
                <%= @cat.description %><br>
                <strong>Adoption :</strong>
                    <% if @cat.adoption == false %>
                        <a>Non</a><br>
                    <% else %>
                        <a>Oui</a>
                    <% end %>
            

            </p>
            <div class="container-row">
            <%= button_to "Mettre a jour le profil du minou", edit_cat_path, class:"btn btn-primary" %>
        </div>
     </div>
   </div>
</div>
   