<div class="container-fluid">
  <div class="my-form">
    <%= form_with model: @category, url: categories_path do |f| %>
    <h2 class="text-center">Ajouter une catégorie</h2>
    <div class= "text-primary"><%=flash[:error] if flash[:error].present?%>
      <br>
      <% if @category.errors.any? %>
        <%= @category.errors.full_messages%>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :nom %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "nom", class:"form-control"  %>
    </div>
    <br>
    <div class="actions text-center">
      <%= f.submit "Confirmer", class:"btn btn-primary"  %>
    </div>
    <% end %>
  </div>
</div>