
<br>
<div class="container rounded text-primary justify-content-center bg-light">
  <div class="row row-cols-1 text-center p-1">
    <div class="col-sm-1 text-start g-0 ">
      <a class="btn btn-sm", style="background-color: #DC985F;"  href="/admin" role="button"><i class="fa-solid fa-arrow-left"></i></a>
    </div>
    <div class="col-sm-11 text-center">
      <h3>NOS UTILISATEURS</h3>
    </div>
  </div>
</div>
<br>

<div class="container rounded bg-dark py-4 px-7 align-items-center">
    <div class="bs-component">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Email</th>
            <th scope="col">Pseudo</th>
            <th scope="col">Statut </th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr class="table-active">
                <td><%= user.email %></td>
                <td><%= user.pseudo %></td>
                <% if user.is_admin  == true%>
                  <td>Admin</td>
                <% else %>
                  <td> Utilisateur</td>
                <% end %>
                <td><a class="btn btn-info btn-sm" href="/admin/<%= user.id %>/edit" role="button"><i class="fa-solid fa-pen"></i></a></td>
                <td>
                  <%= button_to raw("<i class=\"fa-solid fa-trash\"></i>"), admin_path(user.id), method: :delete, class:"btn btn-danger btn-sm" %>
                </td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>

    <div class="d-flex gap-2 justify-content-center">
      <%= link_to "Ajouter un utilisateur", new_admin_path, class:"btn", style:"background-color: #a76551;" %>
    </div>

  </div>
</div>
<br>