<div class="container-fluid">
  <div class="my-form">
    <h4 class="text-center">Modifier un produit</h4>
    <%= form_with model: @product, url: product_path do |f| %>
      <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
      <div class="form-group">
        <label>Nom</label>
        <%= f.text_field :name, autocomplete: "prix", class: 'form-control' %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :Prix %><br />
        <%= f.number_field :price, autocomplete: "prix", class:"form-control"  %> <br>
      </div>
      <div class="form-check">
        <%= collection_radio_buttons(:product, :category_id, Category.all, :id, :name) do |b|%>
          <div>
            <%= b.label(class: "radio_button") { b.radio_button(class: "radio_button") }%>
            <%= b.object.name %>
          </div>
        <% end %>
      </div>
      <div class="form-group text-center">
        <button type="submit" class='btn btn-success'>Enregistrer</button>
      </div>
    <% end %>
  </div>
</div>
