
<div class="container">

  <div class="my-form">
    <%= form_with model: @product, url: products_path do |f| %>
    <h2>Ajoute un élément au menu</h2>
    

    <div class= "text-primary"><%=flash[:error] if flash[:error].present?%>
    <br>
    <% if @product.errors.any? %>
      <%= @product.errors.full_messages%>
    <% end %>
    </div>

    <div class="field">
      <%= f.label :nom %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "nom", class:"form-control"  %>
    </div>

    <div class="field">
      <%= f.label :prix %><br />
      <%= f.number_field :price, autocomplete: "prix", class:"form-control"  %> <br>
    </div>

    <div class="form-check">
          <%= collection_radio_buttons(:product, :category_id, Category.all, :id, :name)%> <br>
    </div>

    <div class="actions">
      <%= f.submit "Confirmer", class:"btn btn-primary"  %>
    </div>
    <% end %>
  </div>
</div>