<!DOCTYPE html>
<html>
  <head>
    <title>Cozy & Fluffy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'bootstrap'%>
    <%= stylesheet_link_tag 'custom'%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_tag %>
  </head>

  <style>
  .footer {
    bottom: 0;
    width: 100%;
  }
  </style>

  <header>
    <%= render 'layouts/navbar' %>
  </header>

  <body>
    <%= yield %>
  </body>
  
  <footer>
    <%=render 'layouts/footer'%>
  </footer>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script type="text/javascript">
    $('.slider').slick({
  infinite: true,
  slidesToShow: 2,
  slidesToScroll: 2
});
  </script>
</html>
