<!DOCTYPE html>
<html>
  <head>
    <title>Cozy & Fluffy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('cozy.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'bootstrap'%>
    <%= stylesheet_link_tag 'custom'%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_tag %>
  </head>

  <style>
  .my-form {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  </style>
  <header>
    <%= render 'layouts/navbar' %>
  </header>

<div id="page-container"> 
  <body>
    <div id="content-wrap">
      <%= yield %>
    </div>
  </body>
  <footer id="footer">
    <%=render 'layouts/footer'%>
  </footer>
</div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script type="text/javascript">
    $('.slider').slick({
  infinite: true,
  slidesToShow: 2,
  slidesToScroll: 2
});
  </script>
</html>
